<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="playwright demo" >
<listeners>
<listener class-name = "com.playwright.listeners.ReportListener"/>
</listeners>
 <test name="Test" preserve-order="true">
   <classes>
      <!--  <class name="TestClasses.TelevisionPrice"/> -->
       <!-- <class name="TestClasses.ProductList"/> --> 
     <class name="com.playwright.olympia.FileandBarCheck"/>
      <class name="com.playwright.olympia.ListSelection"/>
      <class name="com.playwright.olympia.MenuCheck"/>
      <class name="com.playwright.olympia.Webtables"/>
      <class name="com.playwright.olympia.ListSelection"/>
      <class name="com.playwright.olympia.ProductCreation"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->