<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <test name="Test" preserve-order="true">
   <classes>
      <!--  <class name="TestClasses.TelevisionPrice"/> -->
       <!-- <class name="TestClasses.ProductList"/> --> 
      <!-- <class name="com.playwright.olympia.FileandBarCheck"/>
      <class name="com.playwright.olympia.ListSelection"/>
      <class name="com.playwright.olympia.MenuCheck"/>
      <class name="com.playwright.olympia.Webtables"/>-->
      <class name="com.playwright.olympia.ListSelection"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->